.social-links {
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      background: $secondary;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 1px solid color-mix(in srgb, black, transparent 50%);
      font-size: 16px;
      color: color-mix(in srgb, black, transparent 30%);
      margin-right: 10px;
      transition: 0.3s;
  
      :hover {
        font-size: 20px;
        background: $secondary;
      }
  
      i{
        color:white;
      }
  
      i:hover {
        color: $primary;
     
     
      }
    }
  }